.login-box {
  min-width: 360px;
  max-width: 450px;
}

.forgot-pass a {
  color: #6c757d;
  text-decoration: none;
}

.forgot-pass a:hover {
  color: black;
  text-decoration: underline;
}

.input-group-text {
  cursor: pointer;
  background-color: #fff;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  padding: 0;
}

.input-group .form-control {
  border-right: none;
}
